roblox-stats.json
{
  "name": "roblox-stats",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours"
            }
          ]
        }
      },
      "id": "05a8ad4c-697a-41ec-ac03-047eebf47487",
      "name": "Update Tiap 1 Jam",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        48,
        -112
      ]
    },
    {
      "parameters": {
        "url": "https://groups.roblox.com/v1/groups/32462874",
        "options": {}
      },
      "id": "79771359-a125-4570-8f0f-1c35f3b8b850",
      "name": "Get Group Members",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        288,
        -112
      ]
    },
    {
      "parameters": {
        "url": "https://games.roblox.com/v1/games?universeIds=2761184618,2794095352,4552209633,4620531878,3097268051",
        "options": {}
      },
      "id": "7b8dc68b-20e4-45d5-8fa7-03a9fe2a70c5",
      "name": "Get Game Stats",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        512,
        96
      ]
    },
    {
      "parameters": {
        "url": "https://games.roblox.com/v1/games/votes?universeIds=2761184618,2794095352,4552209633,4620531878,3097268051",
        "options": {}
      },
      "id": "5eb2a3e8-1ab4-4f08-95ae-006c344f74d8",
      "name": "Get Game Likes",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        736,
        96
      ]
    },
    {
      "parameters": {
        "jsCode": "const groupData = $('Get Group Members').first().json;\nconst gameStats = $('Get Game Stats').first().json.data;\nconst gameVotes = $('Get Game Likes').first().json.data;\n\nlet results = [];\n\n// 1. Masukkan Data Group\nresults.push({\n  id: 'fuenzer_group',\n  name: groupData.name,\n  members: groupData.memberCount,\n  visits: 0,\n  likes: 0,\n  favorites: 0\n});\n\n// 2. Masukkan Data Games\ngameStats.forEach(game => {\n  // FIX: Pastikan ID dibandingkan sebagai String agar tidak meleset\n  const votes = gameVotes.find(v => String(v.id) === String(game.id)) || {};\n  \n  results.push({\n    id: 'game_' + game.rootPlaceId, \n    name: game.name,\n    members: 0,\n    visits: game.visits || 0,\n    favorites: game.favoritedCount || 0,\n    likes: votes.upVotes || 0 // Data likes diambil dari sini\n  });\n});\n\nreturn results;"
      },
      "id": "abf04fac-bd81-4fb8-80eb-cbd90784d656",
      "name": "Format Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1088,
        -32
      ]
    },
    {
      "parameters": {},
      "id": "f41611bd-37c6-47d2-9a74-3d12189fbf19",
      "name": "On App Start / Manual",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        48,
        96
      ]
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        896,
        -32
      ],
      "id": "ae0379e1-0538-482d-a538-f6fc922f4200",
      "name": "Merge"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://oxtzqztealgamvrgbnyb.supabase.co/rest/v1/project_stats",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Prefer",
              "value": "resolution=merge-duplicates"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1296,
        -32
      ],
      "id": "e8fefbe9-61f1-4dc6-8c6e-0b182842cf3a",
      "name": "HTTP Request",
      "credentials": {
        "supabaseApi": {
          "id": "EWSET76g2TveGfjY",
          "name": "Supabase account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Update Tiap 1 Jam": {
      "main": [
        [
          {
            "node": "Get Group Members",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Game Stats",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Group Members": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Get Game Stats": {
      "main": [
        [
          {
            "node": "Get Game Likes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Game Likes": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Data": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "On App Start / Manual": {
      "main": [
        [
          {
            "node": "Get Group Members",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Game Stats",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Format Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "4a2a7475-1be7-43fa-b112-9fd7bd0c5e6e",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "37c66f27f19a42458ede6336939db7c94b24476e9651972bcb9c0725fbba68b2"
  },
  "id": "7C4aNOgsAdDF7nAEca_5-",
  "tags": [
    {
      "name": "members",
      "id": "5IN2N1p5pvz6A1og",
      "updatedAt": "2026-01-07T04:58:46.867Z",
      "createdAt": "2026-01-07T04:58:46.867Z"
    },
    {
      "name": "visits",
      "id": "Ha3FJPcJlV1o9qit",
      "updatedAt": "2026-01-07T04:58:42.416Z",
      "createdAt": "2026-01-07T04:58:42.416Z"
    },
    {
      "name": "roblox",
      "id": "L4ooMVGE2ttgQ3An",
      "updatedAt": "2026-01-07T04:58:34.392Z",
      "createdAt": "2026-01-07T04:58:34.392Z"
    },
    {
      "name": "n8n",
      "id": "W13SvI2LXyZ0LcHa",
      "updatedAt": "2026-01-07T04:58:37.869Z",
      "createdAt": "2026-01-07T04:58:37.869Z"
    },
    {
      "name": "likes",
      "id": "ZG4Mhi3FSpxl4BIW",
      "updatedAt": "2026-01-07T04:58:40.151Z",
      "createdAt": "2026-01-07T04:58:40.151Z"
    },
    {
      "name": "favs",
      "id": "yqVlAIgp39EI3wkC",
      "updatedAt": "2026-01-07T04:58:44.550Z",
      "createdAt": "2026-01-07T04:58:44.550Z"
    }
  ]
}